.resultSearch {
  margin-top: 1.25rem;

  color: var(--color-primary);

  font-size: 1.2rem;
}

.hideResultSearch {
  display: none;
}

.productsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;

  margin: 1.25rem 0;
}

@media (min-width: 36rem) {
  .productsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 48rem) {
  .productsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 62rem) {
  .productsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
