@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --color-primary: #27ae60;
  --color-secondary: #eb5757;

  --white: #ffffff;

  --grey-600: #333333;
  --grey-300: #828282;
  --grey-200: #bdbdbd;
  --grey-100: #e0e0e0;
  --grey-0: #f5f5f5;
  
}

body {
  font-family: "Inter", sans-serif;
}
